html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Garante que não haja scroll vertical e horizontal */
}

body {
    background-image: url("../public/bg-main-desktop.png");
    background-position: left top;
    background-size: contain;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
}

@media screen and (max-width: 375px) {
    body {
        background-image: url("../public/bg-main-mobile.png");
        background-position: center top;
        background-size: 100%;
        overflow-x: hidden;
      }
}